#include "menu.h"

PBOBBLE_MENU MENU
{
 POPUP "&File"
 {
  MENUITEM "&Load Patchfile", IDM_LOADPATCH
  MENUITEM "&Save Patchfile", IDM_SAVEPATCH
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
  MENUITEM "Load ROMs", IDM_LOAD_BUBLBOBL
  MENUITEM "Save ROMs", IDM_SAVE_BUBLBOBL
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Cut", IDM_CUT
  MENUITEM "&Paste", IDM_PASTE
  MENUITEM "C&opy", IDM_COPY
  MENUITEM "E&xchange", IDM_XCHG
  MENUITEM "C&lear", IDM_CLEAR
  MENUITEM "&Revert", IDM_REVERT
  MENUITEM SEPARATOR
  MENUITEM "Clear All", IDM_CLEAR_ALL
  MENUITEM "Revert All", IDM_REVERT_ALL
 }

 POPUP "&Monster Ops"
 {
  MENUITEM "&Insert", IDM_INSERT
  MENUITEM "&Remove", IDM_REMOVE
  MENUITEM "I&nvert", IDM_INVERT
  MENUITEM "&Aliens", IDM_ALIENS
  POPUP "Drop Pattern"
  {
     MENUITEM "Wipe", IDM_DROP_WIPE
     MENUITEM "Slide", IDM_DROP_SLIDE
     MENUITEM "Roll", IDM_DROP_ROLL
     MENUITEM "Stretch", IDM_DROP_STRETCH
     MENUITEM "Shrink", IDM_DROP_SHRINK
     MENUITEM "Angle Left", IDM_DROP_ANGLE_LEFT
     MENUITEM "Angle Right", IDM_DROP_ANGLE_RIGHT
     MENUITEM "Angle Inside", IDM_DROP_ANGLE_INSIDE
     MENUITEM "Angle Outside", IDM_DROP_ANGLE_OUTSIDE
  }
  MENUITEM "&Edit Drop Pattern", IDM_DROP_MODE
  MENUITEM SEPARATOR
  MENUITEM "&Test Drop Pattern", IDM_TEST_DROP
 }

 POPUP "&Screen Ops"
 {
  MENUITEM "A&rrows", IDM_ARROWS
  MENUITEM "S&moothing", IDM_SMOOTHING
  MENUITEM "&Super", IDM_SUPER
  MENUITEM SEPARATOR
  MENUITEM "Snap to Grid", IDM_GRID
  MENUITEM SEPARATOR
  MENUITEM "Buffer &A", IDM_BUFF_A
  MENUITEM "Buffer &B", IDM_BUFF_B
 }

 POPUP "&Help"
 {
  MENUITEM "&About", IDM_ABOUT
  MENUITEM "About This &Patchfile", IDM_ABOUT_PATCH
 }

}

PBOBBLE_ACCEL ACCELERATORS
{
	VK_ESCAPE, IDM_EXIT, VIRTKEY NOINVERT
	VK_INSERT, IDM_INSERT, VIRTKEY NOINVERT
	VK_DELETE, IDM_REMOVE, VIRTKEY NOINVERT
   VK_F1, IDM_BUFF_A, VIRTKEY NOINVERT
   VK_F2, IDM_BUFF_B, VIRTKEY NOINVERT
   "s", IDM_SAVE_BOBLBOBL, ALT NOINVERT
   "a", IDM_ALIENS, ALT NOINVERT
   "r", IDM_ARROWS, ALT NOINVERT
   "x", IDM_CUT, ALT NOINVERT
   "c", IDM_COPY, ALT NOINVERT
   "v", IDM_PASTE, ALT NOINVERT
   "b", IDM_XCHG, ALT NOINVERT
   "n", IDM_CLEAR, ALT NOINVERT
   "m", IDM_REVERT, ALT NOINVERT
   "d", IDM_DROP_MODE, ALT NOINVERT
   "g", IDM_GRID, ALT NOINVERT
   "r", IDM_ARROWS, ALT NOINVERT
   "t", IDM_TEST_DROP, ALT NOINVERT
   "i", IDM_INVERT, ALT NOINVERT
}


DLG_ABOUT DIALOG 0, 0, 84, 45
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About Patch-A-Bobble"
FONT 18, "Comic Sans MS"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 36, 12, 8
 CONTROL "Patch-A-Bobble", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 84, 8
 CONTROL "Release 1.3", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 8, 84, 11
 CONTROL "©1997-2002 Karl Stenerud", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 24, 84, 7
}

DLG_DATA_NOT_FOUND DIALOG 0, 0, 240, 224
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Data files corrupt or not found"
FONT 8, "MS Sans Serif"
{
 CONTROL "Locate Bubble Bobble ROMs", IDC_USE_BUBLBOBL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 92, 116, 15, 0
 CONTROL "Quit", IDC_USE_QUIT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 204, 116, 15, 0
 CONTROL "Patch-A-Bobble was unable to find the data files it needed.", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 0, 4, 240, 10, 0
 CONTROL "Select which roms you wish to generate the data files from.", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 36, 208, 12, 0
 CONTROL "There are 2 possible reasons for this:\n\n1. The data files are corrupt.\n    In this case, generate the data files again.\n\n2. Patch-A-Bobble has been loaded from a different directory.\n    In this case, quit and reload Patch-A-Bobble from the correct\n    directory.\n", -1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 16, 132, 208, 68, 0
 CONTROL "If this is your first time loading Patch-A-Bobble:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 24, 160, 12, 0
 CONTROL "If you've already generated the data files:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 120, 136, 11, 0
}

DLG_ABOUT_PATCH DIALOG 0, 0, 282, 193
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About This Patch"
FONT 8, "Courier New"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 176, 50, 14
 CONTROL "Author", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 0, 24, 10, 0
 CONTROL "Description", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 136, 0, 48, 9, 0
 CONTROL "", IDC_PATCH_AUTHOR, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 8, 92, 13, 0
 CONTROL "", IDC_PATCH_DESC, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 8, 132, 13, 0
 CONTROL "Levels Modified:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 24, 64, 9, 0
 CONTROL "1", IDC_PATCH_C1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 36, 24, 12, 0
 CONTROL "2", IDC_PATCH_C2, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 36, 24, 12, 0
 CONTROL "3", IDC_PATCH_C3, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 36, 24, 12, 0
 CONTROL "4", IDC_PATCH_C4, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 36, 24, 12, 0
 CONTROL "5", IDC_PATCH_C5, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 36, 24, 12, 0
 CONTROL "6", IDC_PATCH_C6, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 36, 24, 12, 0
 CONTROL "7", IDC_PATCH_C7, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 36, 24, 12, 0
 CONTROL "8", IDC_PATCH_C8, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 36, 24, 12, 0
 CONTROL "9", IDC_PATCH_C9, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 36, 24, 12, 0
 CONTROL "10", IDC_PATCH_C10, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 36, 24, 12, 0
 CONTROL "11", IDC_PATCH_C11, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 48, 24, 12, 0
 CONTROL "12", IDC_PATCH_C12, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 48, 24, 12, 0
 CONTROL "13", IDC_PATCH_C13, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 48, 24, 12, 0
 CONTROL "14", IDC_PATCH_C14, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 48, 24, 12, 0
 CONTROL "15", IDC_PATCH_C15, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 48, 24, 12, 0
 CONTROL "16", IDC_PATCH_C16, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 48, 24, 12, 0
 CONTROL "17", IDC_PATCH_C17, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 48, 24, 12, 0
 CONTROL "18", IDC_PATCH_C18, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 48, 24, 12, 0
 CONTROL "19", IDC_PATCH_C19, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 48, 24, 12, 0
 CONTROL "20", IDC_PATCH_C20, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 48, 24, 12, 0
 CONTROL "21", IDC_PATCH_C21, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 60, 24, 12, 0
 CONTROL "22", IDC_PATCH_C22, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 60, 24, 12, 0
 CONTROL "23", IDC_PATCH_C23, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 60, 24, 12, 0
 CONTROL "24", IDC_PATCH_C24, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 60, 24, 12, 0
 CONTROL "25", IDC_PATCH_C25, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 60, 24, 12, 0
 CONTROL "26", IDC_PATCH_C26, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 60, 24, 12, 0
 CONTROL "27", IDC_PATCH_C27, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 60, 24, 12, 0
 CONTROL "28", IDC_PATCH_C28, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 60, 24, 12, 0
 CONTROL "29", IDC_PATCH_C29, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 60, 24, 12, 0
 CONTROL "30", IDC_PATCH_C30, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 60, 24, 12, 0
 CONTROL "31", IDC_PATCH_C31, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 72, 24, 12, 0
 CONTROL "32", IDC_PATCH_C32, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 72, 24, 12, 0
 CONTROL "33", IDC_PATCH_C33, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 72, 24, 12, 0
 CONTROL "34", IDC_PATCH_C34, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 72, 24, 12, 0
 CONTROL "35", IDC_PATCH_C35, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 72, 24, 12, 0
 CONTROL "36", IDC_PATCH_C36, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 72, 24, 12, 0
 CONTROL "37", IDC_PATCH_C37, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 72, 24, 12, 0
 CONTROL "38", IDC_PATCH_C38, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 72, 24, 12, 0
 CONTROL "39", IDC_PATCH_C39, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 72, 24, 12, 0
 CONTROL "40", IDC_PATCH_C40, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 72, 24, 12, 0
 CONTROL "41", IDC_PATCH_C41, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 84, 24, 12, 0
 CONTROL "42", IDC_PATCH_C42, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 84, 24, 12, 0
 CONTROL "43", IDC_PATCH_C43, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 84, 24, 12, 0
 CONTROL "44", IDC_PATCH_C44, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 84, 24, 12, 0
 CONTROL "45", IDC_PATCH_C45, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 84, 24, 12, 0
 CONTROL "46", IDC_PATCH_C46, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 84, 24, 12, 0
 CONTROL "47", IDC_PATCH_C47, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 84, 24, 12, 0
 CONTROL "48", IDC_PATCH_C48, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 84, 24, 12, 0
 CONTROL "49", IDC_PATCH_C49, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 84, 24, 12, 0
 CONTROL "50", IDC_PATCH_C50, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 84, 24, 12, 0
 CONTROL "51", IDC_PATCH_C51, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 96, 24, 12, 0
 CONTROL "52", IDC_PATCH_C52, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 96, 24, 12, 0
 CONTROL "53", IDC_PATCH_C53, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 96, 24, 12, 0
 CONTROL "54", IDC_PATCH_C54, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 96, 24, 12, 0
 CONTROL "55", IDC_PATCH_C55, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 96, 24, 12, 0
 CONTROL "56", IDC_PATCH_C56, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 96, 24, 12, 0
 CONTROL "57", IDC_PATCH_C57, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 96, 24, 12, 0
 CONTROL "58", IDC_PATCH_C58, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 96, 24, 12, 0
 CONTROL "59", IDC_PATCH_C59, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 96, 24, 12, 0
 CONTROL "60", IDC_PATCH_C60, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 96, 24, 12, 0
 CONTROL "61", IDC_PATCH_C61, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 108, 24, 12, 0
 CONTROL "62", IDC_PATCH_C62, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 108, 24, 12, 0
 CONTROL "63", IDC_PATCH_C63, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 108, 24, 12, 0
 CONTROL "64", IDC_PATCH_C64, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 108, 24, 12, 0
 CONTROL "65", IDC_PATCH_C65, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 108, 24, 12, 0
 CONTROL "66", IDC_PATCH_C66, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 108, 24, 12, 0
 CONTROL "67", IDC_PATCH_C67, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 108, 24, 12, 0
 CONTROL "68", IDC_PATCH_C68, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 108, 24, 12, 0
 CONTROL "69", IDC_PATCH_C69, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 108, 24, 12, 0
 CONTROL "70", IDC_PATCH_C70, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 108, 24, 12, 0
 CONTROL "71", IDC_PATCH_C71, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 120, 24, 12, 0
 CONTROL "72", IDC_PATCH_C72, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 120, 24, 12, 0
 CONTROL "73", IDC_PATCH_C73, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 120, 24, 12, 0
 CONTROL "74", IDC_PATCH_C74, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 120, 24, 12, 0
 CONTROL "75", IDC_PATCH_C75, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 120, 24, 12, 0
 CONTROL "76", IDC_PATCH_C76, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 120, 24, 12, 0
 CONTROL "77", IDC_PATCH_C77, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 120, 24, 12, 0
 CONTROL "78", IDC_PATCH_C78, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 120, 24, 12, 0
 CONTROL "79", IDC_PATCH_C79, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 120, 24, 12, 0
 CONTROL "80", IDC_PATCH_C80, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 120, 24, 12, 0
 CONTROL "81", IDC_PATCH_C81, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 132, 24, 12, 0
 CONTROL "82", IDC_PATCH_C82, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 132, 24, 12, 0
 CONTROL "83", IDC_PATCH_C83, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 132, 24, 12, 0
 CONTROL "84", IDC_PATCH_C84, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 132, 24, 12, 0
 CONTROL "85", IDC_PATCH_C85, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 132, 24, 12, 0
 CONTROL "86", IDC_PATCH_C86, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 132, 24, 12, 0
 CONTROL "87", IDC_PATCH_C87, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 132, 24, 12, 0
 CONTROL "88", IDC_PATCH_C88, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 132, 24, 12, 0
 CONTROL "89", IDC_PATCH_C89, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 132, 24, 12, 0
 CONTROL "90", IDC_PATCH_C90, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 132, 24, 12, 0
 CONTROL "91", IDC_PATCH_C91, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 144, 24, 12, 0
 CONTROL "92", IDC_PATCH_C92, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 144, 24, 12, 0
 CONTROL "93", IDC_PATCH_C93, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 144, 24, 12, 0
 CONTROL "94", IDC_PATCH_C94, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 144, 24, 12, 0
 CONTROL "95", IDC_PATCH_C95, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 144, 24, 12, 0
 CONTROL "96", IDC_PATCH_C96, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 144, 24, 12, 0
 CONTROL "97", IDC_PATCH_C97, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 144, 24, 12, 0
 CONTROL "98", IDC_PATCH_C98, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 144, 24, 12, 0
 CONTROL "99", IDC_PATCH_C99, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 144, 24, 12, 0
 CONTROL "100", IDC_PATCH_C100, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 144, 24, 12, 0
 CONTROL "101", IDC_PATCH_C101, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 156, 24, 12, 0
 CONTROL "102", IDC_PATCH_C102, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 156, 24, 12, 0
}

IDI_BUBBLE ICON
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 0F FF FF FF 00 00 00 00 00 00 00 00'
 '00 00 00 0F F0 00 EE EE EF 00 00 00 00 00 00 00'
 '00 00 0F F0 0E EE EE EE E0 FF 00 00 00 00 00 00'
 '00 00 F0 00 CE EE EE EE 00 00 F0 00 00 00 00 00'
 '00 0F 00 CC CE EE EE EE EE E0 0F 00 00 00 00 00'
 '00 0F 06 CC 66 6E EE EE EE E0 0F 00 00 00 00 00'
 '00 F0 0C CC C6 66 6E EE EE EE 00 F0 00 00 00 00'
 '00 F0 0C 4C CC 66 66 6E EE EE E0 F0 00 00 00 00'
 '0F 00 00 CC CC 66 66 66 EE EE EE 0F 00 00 00 00'
 '0F 00 00 04 44 46 66 C6 66 EE EE EF 00 00 00 00'
 '0F 00 00 00 44 44 4C CC CC C6 6E EE 00 00 00 00'
 '0F F0 00 00 04 44 44 44 CC CC 6E EF 00 00 00 00'
 '0F F0 0E EE 00 00 00 00 44 C4 4E 0F 00 00 00 00'
 '0F 00 EE 0E EE EE 00 E0 EE 04 46 0F 00 00 00 00'
 '0F EE E0 00 00 00 00 00 0E EE 40 0F 00 00 00 00'
 '0F 00 00 00 00 00 00 00 00 0E 00 0F 00 00 00 00'
 '00 F0 00 0F 00 00 00 00 00 0E 00 F0 00 00 00 00'
 '00 F0 00 FF F0 00 00 00 00 F0 00 F0 00 00 00 00'
 '00 0F 00 FF FF F0 00 00 00 00 0F 00 00 00 00 00'
 '00 0F 00 0F FF FF 00 00 0F 00 0F 00 00 00 00 00'
 '00 00 F0 00 FF FF FF 00 00 00 F0 00 00 00 00 00'
 '00 00 0F F0 00 00 00 00 00 FF 00 00 00 00 00 00'
 '00 00 00 0F F0 00 00 00 FF 00 00 00 00 00 00 00'
 '00 00 00 00 0F FF FF FF 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF F8'
 '0F FF FF E0 03 FF FF 87 00 FF FF 18 04 7F FE 70'
 '0F 3F FC C0 01 9F FC 80 01 9F F9 00 00 CF F9 00'
 '00 4F F2 00 00 27 F2 00 00 07 F2 00 00 07 F0 00'
 '00 07 F0 00 00 27 F2 20 C0 27 F0 7F F8 27 F3 FF'
 'FE 27 F9 EF FE 4F F9 C7 FD CF FC C1 FF 9F FC E0'
 'FB 9F FE 70 3F 3F FF 1F FC 7F FF 87 F0 FF FF E0'
 '03 FF FF F8 0F FF FF FF FF FF FF FF FF FF'
}


IDI_PBOBBLE ICON
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 00 00 99 00 00 99 99 00 00 00 00 00 00 00 00'
 '00 00 00 9B 99 99 BB BB 90 00 00 00 00 00 00 00'
 '00 00 99 BB BB BB BB BB B9 00 09 99 99 00 00 00'
 '99 90 9B BB DD DD BB DD DD 99 9B BB BB 90 00 09'
 'BB B9 BB BB DB DD DB DB DD DB BB BB BB B9 00 9B'
 'BB BB BB BB DB BD DB DB BD DB BB BB BB B9 00 9B'
 'BB BD DD BB DD DD BB DD DD BB DD DD DB 90 00 09'
 'BB DD BD DB DD DD BB DD DD BB DD DD B9 00 00 00'
 '9B DB BB DB DB BD DB DB BD DB DD BB BB 90 0D DD'
 'DB DB BD DB DB BD DB DB BD DB DD BB DD DD 0D BD'
 'DD BD BD DB DD DD BB DD DD BB DD BD DB DD 0D BB'
 'DD BD DD BB BB BB BB BB BB BB DD BD DB B0 0D DD'
 'DB BB BB BB BB BB BB BB BB BB DD BD DD D0 0D DD'
 'DB BB BB BB BB BB BB BB BB BB DB BD DB B0 0D BB'
 'DD BB BB BB DB BB BB DB BB BB BB BD DB DD 0D BB'
 'DD BB BB BB DD DB BD DB BB BB BB BB DD DD 0D DD'
 'DB BB BB BB BD DD DD DB BB BB BB BB BB 90 09 BB'
 'BB DD DD BB BD DB DD BB BD DD DB BB BB 90 09 BB'
 'BB BD DD DB BD DB DD BB DD DD BB BB B9 00 9B BB'
 'BB BB BB BB BB DD DB BB BB BB BB BB B9 00 09 BB'
 'BD DB BB BB BB BD DB BB BB BB BB DB 90 00 00 9B'
 'BD DB DB BB BB BB BB BB BB BB BB DD B9 90 00 9B'
 'DD BB DB BB BB BB BB BB BB DD BB BD BB B9 00 9D'
 'DD DB DD BB DD BB BB BD DB BD BD DD DB B9 09 BD'
 'DB DB DD DD DB BD DB DD DD BD DD DB DB B9 9B DD'
 'BB DB DB DD BB BD DB DD BB BB DD BB DD B9 09 BD'
 'DD DB DD DB BB DD BB DD BB BB DD BB 99 90 09 9B'
 'DD BB DD BB DB DD BB DD BB DB BD BB 90 00 00 9B'
 'BB BB BB BD DD DD BB DD DD DB BB BB 90 00 00 09'
 'BB 9B BB BB 9B DD DB BD DB BB BB 99 00 00 00 00'
 '99 09 9B B9 09 99 BB 99 9B 99 99 00 00 00 00 00'
 '00 00 09 90 00 00 99 00 09 00 00 00 00 00 FF CF'
 '0F FF FF C0 07 FF FF 00 03 83 F1 00 00 01 E0 00'
 '00 00 C0 00 00 00 C0 00 00 01 E0 00 00 03 F0 00'
 '00 01 80 00 00 00 80 00 00 00 80 00 00 01 80 00'
 '00 01 80 00 00 01 80 00 00 00 80 00 00 00 80 00'
 '00 01 80 00 00 01 80 00 00 03 00 00 00 03 80 00'
 '00 07 C0 00 00 01 C0 00 00 00 C0 00 00 00 80 00'
 '00 00 00 00 00 00 80 00 00 01 80 00 00 07 C0 00'
 '00 07 E0 00 00 0F F2 08 00 3F FF 9F 3B FF'
}

